.Special{
    font-size: 0.9rem;
    color: #2acfcf;
    font-family:Poppins,sans-serif;
    font-weight: 600;
}

.Normal{
    font-size: 0.9rem;
    color: grey;
    font-family: Poppins,sans-serif;
    font-weight: lighter;
    font-weight: 700;
}