.newClass{
    display: inline-block;
    padding: 18px 53px 18px 53px; 
    border: none;
    background-color:#2acfcf; 
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 29px; 
    position: relative;
    font-size: larger;
    font-weight: 700;
    margin-left: 30px;
    font-size: medium;
    text-align: center;
    margin-top: -39%;
    margin-left: 40%;

}